# Prevent committing WebStorm-specific files to the repository
.idea

# Prevent committing node modules to the repository
node_modules

# Prevent committing node debug logs to the repository
npm-debug.log
